<h1 class="mt-4">Event Bulletin Board System</h1>
<p class="lead mb-3">Welcome <%= name %>. </p>
<p class='lead mb-4'>Please choose an event to participate!</p>
<a href="/users/logout" class="btn btn-secondary">Sign out</a>

